<nav>
    {% if dates|length %}
        <ul class="pagination">
            {% for item in dates %}
                {% set pub = item.publishedAt|date('d.m.Y') %}
                {% if pub != actual %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('index') ~ '?date=' ~ pub ~ '&page=' ~ page }}">{{ pub }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</nav>
